%p<
  I am a web developer, aspiring digital artist, amateur speedrunner, and cheese aficianada. I believe in diversity and taking the time to do my best. I am not perfect, but that doesn't stop me from trying.
