%header
  #title
    .header-wrap<
      %a{:href=> "/"}<
        #{TITLE} ::
        %span{:id => "subtitle"}<
          = subtitle
  %nav
    .header-wrap
      %ul.left-nav
        %li
          %a{:href => "/blog/archive"}<
            all posts

      %ul.right-nav
        %li
          %a{:href=>"https://twitter.com/jackiekircher"}<
            twitter
        %li
          %a{:href=>"https://twitch.tv/pangasaur"}<
            twitch
        %li
          %a{:href=>"https://github.com/jackiekircher"}<
            github
        %li
          %a{:href=>"/blog/rss.xml"}<
            rss



