%header
  #title
    .header-wrap
      #{TITLE} ::
      %span{:id => "subtitle"}<
        blog
  %nav
    .header-wrap
      %ul.left-nav
        %li
          %a{:href => "/archive"}<
            archive

      %ul.right-nav
        %li
          %a{:href=>"https://twitter.com/jackiekircher"}<
            twitter
        %li
          %a{:href=>"https://github.com/jackiekircher"}<
            github
        %li
          %a{:href=>"/rss.xml"}<
            rss



