- content_for :header do
  %style{:name => "animation"}

%h1.section-title
  css3 animations

%article

  %div.animation-container
    %p
      click an animation on the right to load it here

  %ul.right.large
    - @animations.each do |name|
      %li
        %a.load-animation{:href => "/css3_animations/animations/#{name}/#{name}.html"}
          = name

- content_for :javascript do
  %script{:src=>"/javascript/css3-animations.js"}
