%h1
  #{@title}
%aside
  %time
    #{@formatted_date}
  %p
    jackie bio here.
  %p{:id => "archive"}
    %i{:class => "icon-book"}
    %a{:href => "/archive"} archive


%article
  :preserve
    #{@content}


