%h1
  %span.prefix><
    \<
  #{@title}
  %span.suffix><
    \>

%aside
  = partial :bio
  #archive
    %ul
      %li<
        %a{:href => "/archive"}<
          archive

%article
  %time<
    #{@formatted_date}
  :preserve
    #{@content}


