%h1
  %span.prefix><
    \<
  #{@title}
  %span.suffix><
    \>

%aside
  %p
    jackie bio here.
  %p{:id => "archive"}
    %i{:class => "icon-book"}
    %a{:href => "/archive"} archive


%article
  %time<
    #{@formatted_date}
  :preserve
    #{@content}


