%div.projects

  %h1
    things i've worked on

  %section.project
    %header
      %h2
        zerglings as cats
      %div.project-link
        %a{:href => "http://zerglingsascats.com"}
          zerglingsascats.com

    %p
      A (mostly) weekly comic that I make that combines two of my favorite things - Starcraft and cat pictures. Zerglings doing things that cats do. What more is there to say?

    %ul.tools
      %li
        GIMP
      %li
        Manga Studio 5
      %li
        Wacom Intuos5 tablet
      %li
        Tumblr


