%div.projects

  %h1
    things i've worked on

  %section.project
    %header
      %h2
        zerglings as cats
      %div.project-link
        %a{:href => "http://zerglingsascats.com"}
          zerglingsascats.com

    %p
      A (mostly) weekly comic that I make that combines two of my favorite things - Starcraft and cat pictures. Zerglings doing things that cats do. What more is there to say?

    %ul.tools
      %li
        GIMP
      %li
        Manga Studio 5
      %li
        Wacom Intuos5 tablet
      %li
        Tumblr


  %section.project.even
    %header
      %h2
        css3 animations
      %div.project-link
        %a{:href => "https://github.com/jackiekircher/css3-animations"}
          github.com/jackiekircher/css3-animations

    %p
      A small set of animations based on poi and sacred geometry, written purely with CCS3. The goal of this was purely educational but some of the results are pretty mesmerizing. Inspired by this <a href="http://arqex.com/934/4-balls-10-spinners-css3-animations">CSS3 spinners</a> blog post. <a href="/projects/css3-animations">See them demoed here</a>.

    %ul.tools
      %li
        CSS


  %section.project
    %header
      %h2
        cherry sprite
      %div.project-link
        %a{:href => "https://github.com/jackiekircher/cherry-sprite"}
          github.com/jackiekircher/cherry-sprite

    %p
      A very simple sprite-file animation tool for previewing sprite files. I wanted the ability to be able to edit individual frames in a sprite image and quickly see the impact it had on a moving sprite without having to rebuild the file.

    %ul.tools
      %li
        Lua
      %li
        Love2D
      %li
        LoveFrames


  %section.project.even
    %header
      %h2
        specorgi
      %div.project-link
        %a{:href => "https://github.com/jackiekircher/specorgi"}
          github.com/jackiekircher/specorgi

    %p
      Specorgi is a mod for Spelunky HD by Mossmouth that replaces the pug damsel with a corgi (because corgis are cuter). I tried to stay as true to the original art style as I could.

    %ul.tools
      %li
        Manga Studio 5
      %li
        Wacom Intuos5 tablet
      %li
        spelunktool


  %section.project
    %header
      %h2
        VimCity
      %div.project-link
        %a{:href => "https://github.com/jackiekircher/VimCity"}
          github.com/jackiekircher/VimCity

    %p
      A city building simulation game made for OSGCC 5 with Andrea Della Corte and <a href="http://joannadrummond.com/">Joanna Drummond</a>, given the themes "mars" and "coins". It is an open-ended resource balancing game about pioneering a colony on Mars. I primarily worked on the Vim-Ruby connection and rendering engine.

    %ul.tools
      %li
        Vim
      %li
        VimScript
      %li
        ruby


  %section.project.even.last
    %header
      %h2
        Ascii Ascii Revolution
      %div.project-link
        %a{:href => "https://github.com/osgcc/osgcc4-AsciiAsciiRevolution"}
          github.com/osgcc/osgcc4-AsciiAsciiRevolution

    %p
      A DDR-based game made for OSGCC 4 with my teammates <a href="http://rarlindseysmash.com/">Lindsey Bieda</a> and James Larkby-Lahet. Our selected themes were "narwhals" and "corn". My major contributions were to graphics and group management. Be fast on your fingers and get ready to groove!

    %ul.tools
      %li
        D
      %li
        nCurses
      %li
        Anamanaguchi
