@import 'colors';

h1.section-title {
  text-align: right;
  padding-bottom: 1.5em;
}

section.project {
  text-align: left;
  float: right;

  padding: 0 2em 4em;

  header {
    color: $primary-color-l1;
    text-align: right;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.1em;
    margin: 0;
  }

  .project-link {
    word-wrap: break-word;
    line-height: 1.0em;
    font-size:   0.7em;
  }

  p {
    margin: 0;
  }
}
section.last {
  margin-bottom: 2em;
}

ul.tools {
  list-style: none;
  color:   #a0a0a0;
  text-align: right;

  float: right;
  position: relative;
  top: 2px;
  padding: 0.5em 0 0;
  margin:  1em 0 0;
  border-top: solid 2px $background-dark;

  li {
    font-size: 1em;
    display: inline-block;
    padding: 0.5em 0 0 1em;
    line-height: 1.5em;
  }
}

figure {
  position: relative;
  max-width:  360px;
  min-width:  250px;
  margin: 0 auto;

  figcaption {
    width: 80%;
    height: 90px;
    text-align: center;
    margin: 1em auto 0;
  }
}

.animation-container {
  width:   100%;
  height:  0;
  padding: 50% 0;

  position: relative;
  left: -4px;
  background-color: $background-light;
  border: solid 4px $primary-color-l2;

  p {
    text-align: center;
    max-width:  300px;
    margin: 0 auto;
  }

  #animation {
    margin: -25% auto;
  }
}

a.loaded {
  font-weight: bold;
  color: initial;

  &:hover, &:focus {
    text-decoration: none;
  }
}


/* hardset the right margin for the animation continaer */
@media screen and (min-width: 440px) {
  figure {
    margin: 0 1em 0 auto;
  }
}

/* old layout works fine right here */
/* fix the figure in a position relative to the list */
@media screen and (min-width: 720px) {
  figure {
    margin-right: 2em;
  }

  section.project {
    max-width: 68%;
    float: right;

    padding: 0 2em 4em;
    border-right: solid 6px $complement-color-d1;
  }
  section.even {
    border-color: $complement-color;
  }
}

/* list names and figure can sit side-by-side */
@media screen and (min-width: 950px) {
  figure {
    width: 360px;
    float: left;
    position: absolute;
    left: 5em;
    margin: 0 0 6em;
  }
}
