@import 'colors';

h1.section-title {
  padding-bottom: 1.5em;
}

section.project {
  text-align: left;
  max-width: 68%;
  float: right;

  padding: 0 2em 4em;
  border-right: solid 6px $complement-color-d1;

  header {
    color: $primary-color-l1;
    text-align: right;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.1em;
    margin: 0;
  }

  .project-link {
    line-height: 0.7em;
    font-size:   0.7em;
  }

  p {
    margin: 0;
  }
}

ul.tools {
  list-style: none;
  color:   #a0a0a0;

  float: right;
  position: relative;
  top: 2px;
  padding: 1.5em 0 0;
  margin:  0;

  li {
    font-size: 1em;
    display: inline;
    padding: 0.5em 0 0 1em;
    border-top: solid 2px $background-dark;
  }
}
section.even {
  border-color: $complement-color;
}
section.last {
  margin-bottom: 2em;
}

.animation {
  height: 360px;
  width:  360px;

  float: left;
  position: absolute;
  left: 5em;
  border: solid 4px $primary-color-l2;

  p {
    text-align: center;
    margin: 170px auto;
  }
}
