@import 'colors';
$top-index: 100;

body {
  background-color: $background-light;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
  font-size:   14px;

	margin: 0;
}

h1 {
	font-family: 'Arial', sans-serif;
  text-align:  right;
	line-height: 1.0em;
	font-size:   3.5em;
	letter-spacing: -0.03em;
  color: $primary-color-d1;
}

h2 {
	font-family: 'Arial', sans-serif;
	font-size:   2em;	
}

h3 {
	font-family: 'Arial', sans-serif;
}


span.prefix, span.suffix {
  color:  rgb(213, 79, 255);
  margin: 0 0.2em;
}

article.archive {
  margin-top: 70px;
}

p, .archive {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:   1.1em;

	margin: 0 0 1em 0;
}

ul.archive {
  font-weight: 400;
	font-size:   2.4em;

	padding: 0;
	list-style-type: none;

  .date {
    font-weight: 300;
    font-size:   0.6em;
  }
}

.archive li {
	margin-bottom: 0.8em;
}

.date {
	font-size: 0.8em;
	color: #818181;
}

aside {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

aside h2 {
  font-weight: 500;
  font-size:   3.1em;
}

aside p {
	line-height: 1.2em;
	font-weight: 300;
	font-size:   1.1em;
}


nav a, nav a:hover{
	border-bottom:none;
}

a, p a, ol li a, .archive a {
	text-decoration: none;
	color: $complement-color-d1;
	padding-bottom: 0px;

  &:hover {
    text-decoration: underline;
  }
}

header #title a {
  color: white;

  &:hover {
    text-decoration: none;
  }
}

nav a:hover {
  text-decoration: none;
}

.archive a {
  color: black;

  &:hover {
    text-decoration: none;
    color: $complement-color;
  }
}


time {
	font-family: 'Arial', sans-serif;
  text-align:  right;
	font-weight: 500;
	font-size:   1.7em;
}

time h2 {
	margin: 0;
}

header {
	font-family: 'Source Sans Pro', sans-serif;
  text-align:  center;
	font-size:   2.5em;
	color: $background-light;
}

header #title {
	padding: 0.2em;
	background-color: $primary-color;
  border-bottom: solid 4px $primary-color-l2;
}

#subtitle {
  color: $complement-color-l2;
}

nav#sections {
  width:  4em;
  height: 1em;
  text-align:  left;
  line-height: 0.4em;
  font-size:   0.4em;

  display:  block;
  position: relative;
  margin: 1em auto 0.5em;

  ul {
    width: 4em;
    list-style: none;
    line-height: 1em;
    font-size:   1.5em;
    background-color: $primary-color;

    display:  none;
    position: relative;
    top: 4px;
    padding: 0.5em 1em 0;
    margin:  0 1em;
    border-bottom: solid 4px $primary-color-l2;
    z-index: $top-index;

    &:hover {
      display: block;
    }

    a:hover {
      color: $complement-color-l2;
    }

    li {
      width: auto;
    }
  }
}
nav#sections:hover ul {
  display: block;
}


nav#pages {
  text-align: center;
	color: $primary-color;

  ul {
    width:  100%;
    height: 1.8em;
    line-height: 1.8em;
    font-size:   0.6em;

    padding: 0;
    margin:  0;
    border-bottom: solid 2px $background-dark;

    li {
      display: inline-block;
      padding: 0 0.4em;
      margin:  0;

      position: relative;
      border-bottom: solid 2px $background-dark;

      &:hover {
        border-bottom: solid 2px $complement-color-l1;
      }
    }
  }
}


ol {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;	
}

ul {
  list-style: none;
	padding:    0 3em;
}

li {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

blockquote {
	background-image: url('../images/quotebg.png');
	background-repeat: no-repeat;
	padding: 2em 0 0 5em;
}

blockquote p:first-child {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px $primary-color-l2;
}

cite {
	font-family: 'Source Sans Pro', sans-serif;
	font-style:  normal;
}

.citation {
	text-align: right;
}


.right {
  text-align: right;
}

.large {
  font-size: 1.3em;
}

.float-r {
  float: right;
}
.float-l {
  float: left;
}


.main-wrap, .header-wrap {
  width:     80%;
  max-width: 940px;
  position: relative;
	padding:  0;
	margin:   0 auto;
}

#title .header-wrap{
	line-height: 1.0em;
	margin:      0.4em auto;
}

.prettyprint {
	overflow-x: auto;
	padding: 1em;
}

.image {
	text-align: center;
}

.image img {
	max-width:  100%;
}

.center {
	display: block;
	margin:  0 auto;
}

.caption {
	font-weight: bold;
	font-size:   0.8em;
}


::selection {
	background: #B3E8FA; /* Safari */
}
::-moz-selection {
	background: #B3E8FA; /* Firefox */
}

/* title fits on one line */
@media screen and (min-width: 440px) {
  header {
    text-align: left;
  }
}

/* sections nav can be precisely positioned here */
@media screen and (min-width: 630px) {
  nav#sections {
    left: 218px;
    margin: 1em 0 0.5em;
  }
}

/* old layout works fine right here */
@media screen and (min-width: 720px) {
  body {
    font-size: 16px;
  }

  h1 {
    display: block;
    padding-right: 28px;
    margin: 1em 0 0;
    border-right:  solid 6px $complement-color-l1;
  }

  h2 {
    margin: 0 0 0.5em 0;
  }

  article {
    width: 68%;

    float: right;
    padding: 0 16px 0 0;
    margin-bottom: 2em;
    border-right:  solid 6px $complement-color-l1;
  }

  aside {
    width: 25%;
    float: left;
    padding: 0 0 0 22px;
  }

  time {
    display: block;
    padding: 0.2em 28px 1.5em 0;
    border-right: solid 6px $complement-color-l1;
  }

  nav#sections {
    left: 249px;
  }

  nav#pages {
    text-align: right;

    ul {
      width: 50%;
    }
    ul.site-nav {
      float: right;
    }
    ul.page-nav {
      text-align: left;
      float: left;
    }
  }

}
