body {
	margin:0;
	background-image: url('../images/bg.png');
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Arial', sans-serif;
	font-size: 3.5em;
  color: #3f3f3f;
	padding: 0 0.5em;
	letter-spacing: -0.03em;
	line-height: 1.0em;
	padding: 0;
  margin-bottom: 0.2em;
	display: block;
	width:100%;
  text-align: right;
}

h2 {
	font-family: 'Arial', sans-serif;
	font-size: 2em;	
	text-shadow: 0px 1px 5px #d6d6d6;
	margin: 0 0 0.5em 0;
}

h3 {
	font-family: 'Arial', sans-serif;
	text-shadow: 0px 1px 5px #d6d6d6;	
}

article {
	width: 68%;
	float: right;
	padding: 0 1em 0 0;
  margin-bottom: 2em;
}

span.prefix, span.suffix {
  color: rgb(213, 79, 255);
  margin: 0 0.2em;
}

p, .archive {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.1em;
	margin: 0 0 1em 0;
}

ul.archive {
	list-style-type: none;
	font-size: 1.2em;
	padding: 0;
}

.archive li {
	margin-bottom: 1.5em;
}

.icon-circle-arrow-right {
	font-size: 2em;
	float: left;
	padding-top: 0.3em;
	margin-bottom: 0.8em;
}

.date {
	font-size: 0.8em;
	color: #818181;
}

aside {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	float: left;
	width: 27%;
	padding: 0 0 0 1em;
}

aside p {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: 300;
}


nav a, nav a:hover{
	border-bottom:none;
}

a, p a, ol li a, .archive a {
	text-decoration: none;
	color: black;
	padding-bottom: 0px;
}


time {
	display: block;
	font-weight: 500;
	font-size: 1.7em;
	font-family: 'Arial', sans-serif;
  text-align: right;
  padding-top: 0.2em;
  margin-bottom: 1.0em;
}

time h2 {
	margin: 0;
}

header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 2em;
	color: #efefef;
	overflow: hidden;
}

header #title {
	padding: 0.1em;
	background-color: #3f3f3f;
}

#subtitle {
  color: rgb(213, 79, 255);
}

nav {
	color: #3f3f3f;
  text-align: right;
}

nav ul {
  border-bottom: solid 2px #efefef;
  margin: 0;
  padding: 0;
  line-height: 1.8em;
  font-size: 0.6em;
}

nav ul li {
  border-bottom: solid 2px #efefef;
	display: inline-block;
	margin: 0 0 -2px;
  padding: 0 0.4em;
}
nav ul li:hover {
  border-bottom: solid 2px rgb(213, 79, 255);
}

ol {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;	
}

ul {
	padding: 0 5em;
}

li {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

blockquote {
	background-image: url('../images/quotebg.png');
	background-repeat: no-repeat;
	padding: 20px 0 0 50px;
}

blockquote p:first-child {
	font-size: 1.2em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px rgb(213, 79, 255);
}

cite {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
}

.citation {
	text-align: right;
}

.main-wrap, .header-wrap {
	max-width: 940px;
	width: 80%;
	margin: 0 auto;
	padding: 0 0.3em;
}

#title .header-wrap{
	line-height: 2em;
}

#archive {
	font-size: 2em;
	margin: 2em 0;
}

#archive ul {
  padding: 0;
  list-style: none;
}

#archive li {
  border-left: solid 2px #efefef;
  padding-left: 0.4em;
  margin: 0;
}
#archive li:hover {
  border-left: solid 2px rgb(213, 79, 255);
}

.prettyprint {
	overflow-x: auto;
	padding: 10px;
}

.image {
	text-align: center;
}

.image img {
	max-width: 100%;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}

.center {
	display: block;
	margin: 0 auto;
}

.caption {
	font-size: 0.8em;
	font-weight: bold;
}


::selection {
	background: #B3E8FA; /* Safari */
}
::-moz-selection {
	background: #B3E8FA; /* Firefox */
}


/* Youtube hax */
.youtube_frame {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.youtube_resize img {
	width: 100%;
}

.youtube_resize {
	position: relative;
	width: 100%;
	margin: 1em;
	box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.5);
}


/* narrow screen */

@media screen and (max-width: 855px) {
	p {
		font-size: 1.2em;
		font-weight: 300;
	}

	article {
		float: none;
		width: auto;
		padding: 1em;
	}	

	aside {
		float: none;
		width: auto;
		padding: 1em;
	}

	#title {
		display: block;
		text-align: center;
		float: none;
	}

	nav {
		text-align: center;
		float: none;
	}

	.header-wrap {
		line-height: normal;
	}

	ul {
		padding: 0;
	}
}
